<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.topremix"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Top 8tracks Remixes</name>

    <description>
        This app will let you check out the top 8tracks remixes! 
    </description>

    <author href="https://build.phonegap.com" email="dieguito.benito@gmail.com">
        Diego Benito
    </author>

</widget>